[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responder = "==2.0.7"
pillow = "*"
pipdeptree = "*"
typesystem = "==0.2.5"
torch = "*"
torchvision = "*"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
